.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
    text-transform: none;
}

.preamble .subtitle {
    font-size: 30pt;
}

.reveal .red {
    color: red;
}

.reveal .blue {
    color: blue;
}

.reveal .orange {
    color: orange;
}

.reveal h1 {
  text-shadow: none;
  font-size: 70pt;
}

.reveal h2 {
  font-size: 40pt;
}

.reveal h3 {
  font-size: 30pt;
}

.reveal h4 {
  font-size: 25pt;
}

/* condensed callouts */
.reveal .colist {
  font-size: 15pt;
}

.colist td:not([class]):first-child {
    padding: .0em .2em 0 0;
    line-height: normal;
    vertical-align: top;
    width: 20px;
}

.colist td:not([class]):last-child {
    padding: 0;
}

.colist table {
    width: 100%;
}

.conum[data-value] {
    display: inline-block;
    color: #fff!important;
    background-color: rgba(50,150,50,.8);
    -webkit-border-radius: 100px;
    border-radius: 100px;
    text-align: center;
    font-size: .75em;
    width: 1.67em;
    height: 1.67em;
    line-height: 1.67em;
    font-family: "Open Sans","DejaVu Sans",sans-serif;
    font-style: normal;
    font-weight: bold;
}

/* Inline code */
.reveal code {
    border-radius: 5px;
    padding: 1px 7px;
    border: 1px solid rgb(162 142 142 / 0.8);
    background: #96402124;
    font-size: .8em;
    white-space: nowrap;
}

.reveal pre {
	width: 100%;
	margin: 10px auto;
}

.reveal pre code {
  padding: 10px;
  background: #fff8f1c0;
  border: 1px solid #745d48;
  /* font-size: 1.0em; */
  line-height: 1.2em;
  white-space: pre-wrap;
}

.reveal blockquote {
    width: 100%;
    box-shadow: none;
    text-align: left;
}

.quoteblock blockquote:before {
    content: "\201C";
    float: left;
    font-family: sans-serif;
    font-size: 2.75em;
    font-weight: bold;
    font-style: normal;
    line-height: 0.6em;
    margin-left: -0.5em;
    color: #7a2717;
    text-shadow: 0 1px 2px rgba(0,0,0,0.1);
}

.reveal .attribution {
    font-size: 18pt;
    text-align: right;
}

.reveal .slides {
    text-align: left;
}

.reveal .slides .title {
    text-align: center;
}

section .content {
    padding-right: 1%;
}


.reveal p {
    margin: 10px 0;
    line-height: 1.3;
}

section .paragraph {
    font-size: 20pt;
}

section .dlist {
    font-size: 18pt;
}

section .ulist {
    font-size: 18pt;
}

.columns .slide-content > .column {
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 0;
}

.admonitionblock table {
    border: 0;
}

.admonitionblock .content {
    font-size: 14pt;
}

.fa.fa-lightbulb-o:before {
    content: "\f0eb";
    color: #a75a42;
    font-size: 24pt;
}

.fa-info-circle:before {
    color: #19407c;
    font-size: 24pt;
}

.reveal table tbody tr:last-child th, .reveal table tbody tr:last-child td {
    padding: .0em .2em 0 .2em;
    vertical-align: middle;
}

.admonitionblock>table td.content {
    border-left-width: 1px;
    border-left-style: dashed;
    border-left-color: rgb(239 203 190 / 0.64);
}

.reveal table {
    margin: initial;
}

